@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SourceSans3";
    src: url("../fonts/SourceSans3.ttf");
}


.container::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.4rem;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.2);
}

svg {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  width: 100%;
  height: 100%;
}
svg text {
  text-transform: uppercase;
  animation: stroke 2.5s infinite alternate;
  stroke-width: 2;
  stroke: #ffffff;
  font-size: 140px;
}
@keyframes stroke {
  0%   {
    fill: rgba(72,138,20,0); stroke: rgb(237, 0, 0);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(72,138,20,0); stroke: rgb(255, 0, 0); }
  80%  {fill: rgba(72,138,20,0); stroke: rgb(255, 0, 0); stroke-width: 3; }
  100% {
    fill: rgb(255, 255, 255); stroke: rgba(54,95,160,0);
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}
